<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
        <link rel="stylesheet" href="../public/styles/main.css" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" >
        </script>
        <script src="/scripts/bulma.js" defer></script>
        <script src="/scripts/main.js" defer></script>

        <title>Mammals </title>
    </head>

    <body class="has-navbar-fixed-top">

        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation" >
            <div class="navbar-brand">
                <a class="navbar-item" href="/products"> Animals </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
    
        </nav>
        <h1 class="title"><strong>Mammals</strong></h1>
        <main class="container is-max-widescreen">
        
            
            <p class="intro">
                Mammals—a group that include humans—are warm-blooded animals with hair and vertebrates, or backbones. Unlike other classes of animals, female mammals produce milk to nourish their young. 
                Scientists have identified more than 5,400 mammal species on Earth, roughly one-fifth of which are known to be threatened or extinct. One of the most threatened order of mammals is the primate, which includes monkeys and apes. The United States has more than 400 mammal species.
            </p>
            <div class="columns is-multiline p-5">
                <% for(let idx = 0; idx < animals.length; idx++){ %> 
                    <% const animal = animals[idx] %>

                        <div class="column is-one-third">
                            <article class="card">
                                <section class="card-image">
                                  
                                        <img  class="is-rounded" src="<%= animal.image %>" alt="Placeholder image" />
                                    
                                    </div>
                                </section>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>
                                            <a href="/animals/<%= animal.id %>"><%= animal.name %> </a>
                                        </h3>
                                       
                                    </div>
                                </div>
                            </article>
                        </div>
                <% } %>
            </div>
        </main>
    </body>
</html>